# Git
.git
.gitignore

# Python
__pycache__/
.venv/
*.pyc

# Docker
.dockerignore
Dockerfile

# IDE / OS files
.vscode/
.idea/
*.DS_Store

# Environment files
.env
.env.*
!/.env.prod
!/.env.example

# Build artifacts and logs
build/
dist/
logs/
.logs/
