
# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.env
.gitignore
.Python
.pytest_cache/
.ruff_cache/

# Pip
pip-wheel-metadata/
.pip-eggs/
pip-log.txt
pip-delete-this-directory.txt

# Editors
.vscode/ # VS Code settings/workspace files
.VS*
.idea/ # PyCharm / IntelliJ IDEA files
*.sublime-project
*.sublime-workspace

# OS junk files
.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db # Windows
*.log
*.sqlite3
.coverage

# Testing
.pytest_cache/
.coverage
.bak
htmlcov/
.coverage
coverage.xml

#AI prompt
prompt/
