# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo
*.swp # Vim swap files

# Distribution / packaging
.Python
env/
venv/
bin/
include/
lib/
output/

# Pip
pip-wheel-metadata/
.pip-eggs/
pip-log.txt
pip-delete-this-directory.txt

# Editors
.vscode/ # VS Code settings/workspace files
.idea/ # PyCharm / IntelliJ IDEA files
*.sublime-project
*.sublime-workspace

# OS junk files
.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db # Windows
*.log
*.sqlite3
.coverage
/htmlcov/

# Testing
.pytest_cache/
.coverage